.hidee {
    display: none;
}

.todo_complete {
    color: #b3b3b3;
}

.ajax_loader, .ajax_loader_gray {
    background: url('../img/ajax-loader-white.gif');
    height: 16px;
    width: 16px;
}
.ajax_loader_gray {
    background: url('../img/ajax-loader-gray.gif');
}

#list_todo span.content {
    display: inline-block;
    width: 210px;
}

#list_todo div {
    padding: 5px;
}

#list_todo div:hover {
    background: rgba(0, 0, 0, .1);
}

#list_notes div {
    padding: 5px;
}

#list_notes div:hover {
    background: rgba(0, 0, 0, .1);
}

.options a {
    padding-left: 5px;
}

footer {
    background: #AAA;
    margin: 30px 0;
    padding: 20px 0;
    text-align: center;
}
